body {
  background: linear-gradient(45deg, #ff33cc, #33ccff, #ffcc00, #00ccff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.question-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  font-size: 35px;
  color: #333;
  margin-bottom: 20px;
}

.answer-list {
  list-style-type: none;
  padding: 0;
}

.answer {
  display: block;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  font-size: 25px;
  max-width: 400px;
  text-align: left;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.answer:hover {
  background-color: #ddd;
}

.timer {
  font-size: 30px;
  color: #007bff;
  margin-top: 10px;
}

.next-button {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #0056b3;
}

.score {
  font-size: 18px;
  color: green;
  margin-top: 10px;
}

#timer {
  font-size: 4em;
  text-align: center;
  margin-top: 20px;
}

.pulsar {
  animation: pulsar 0.5s infinite alternate;
  color: red;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.correct {
  color: #259249;
}
.incorrect {
  color: #f00a02a9;
}
.resposta {
  color: #ffcc00;
}
